:host {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#clear-todos-button {
  width: 100px;
  height: 52px;
  font-weight: bold;
  background-color: indianred;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
